
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="margin-top:300px;"></div>
<h1>September 7 - October 5 I will be in the military. The project not completed. It will be completed.</h1>