@model mvcLibrary.Models.Entity.TblCategory
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">

        @Html.LabelFor(c => c.ID)
        @Html.TextBoxFor(c => c.ID, new { @class = "form-control" })
        <br>
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        <br>
        <div><button class="btn btn-warning">Update</button></div>
    </div>
}

